{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main
%} {% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{error}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<form action="/search" method="post">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="search"
      placeholder="Search"
      type="text"
    />
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>

{% for r in results %}
<ul>
  <li>
    <a href="{{ url_for('book', book_id =r.id)}}"
      >ISBN: <strong> Title: {{ r['title'] }} </strong> by {{ r['author'] }}
      published in {{r['year']}}
    </a>
  </li>
</ul>
{% endfor %}

<script>
  setTimeout(() => {
    $(".alert").alert("close");
  }, 2000);
</script>

{% endblock %}
